<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCTuristic_Centro_Historico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <MCTuristic_Centro_Historico.Properties.Settings>
      <setting name="MCTuristic_Centro_Historico_localhost_WsMCTuristic"
        serializeAs="String">
        <value>http://localhost:15567/UI/WsMCTuristic.asmx</value>
      </setting>
    </MCTuristic_Centro_Historico.Properties.Settings>
  </applicationSettings>
</configuration>